//= require bootstrap
//= require bootstrap-responsive

body {
  background:url('/assets/grid_noise.png');
  padding-top: 60px;
  padding-bottom: 40px;
}

.team {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.team:hover {
  background: #ccc;
}