body {
  background:url('/assets/paper.jpg');
  padding-top: 60px;
  padding-bottom: 40px;
}

/*
.highlight {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  color: #333;
}
*/

//.highlight:hover {
//  background: #ccc;
//  text-decoration: none;
//}

.correct {
  background: #090 !important;
}

.incorrect {
  background: #900 !important;
}

.avatar {
  border: 1px #ccc solid;
  width: 200px;
  height: 300px;
  float: left;
  text-align: center;
}

.avatar img {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 180px;
}

.social_media img {
  margin: 5px;
}
.team-action-form{
  float:left;
  margin-left: 20px;
  margin-top:16px;
}
.clear-left{
  clear:left;
}
.clear-right{
  clear:right;
}
.clear{
  clear: both;
}