.container{
    margin-top: 6%;
    background: url("ocelot-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:block;
    top: 0;
    left: 0;
    right: 0;
    buttom:0;
    border-radius: 8px ;

}

.login-form{
    margin: auto;
    width: auto;
    float:none;
    text-align: center;
    margin-top: 200px;

}
.highlight{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    margin:auto;
    background:rgba(0,0,0,0.15);
    color:#ffffff;
    display:block;


}

.highlight:hover{
    background:rgba(0,0,0,0.35);
}
.ocelots-name{
    width: auto;
    margin:0 auto 20px;
    font-size: 42px;
    font-weight:bold;
    float:none;
    text-align: center;
}